<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定dao -->
<mapper namespace="com.yan.springboot.tx.mapper.UserMapper">

	<insert id="insertUser" parameterType="com.yan.image.center.schema.ImageMain">
    	insert into test_user 
    	(userName, phone, email, validStatus, insertTime, updateTime) 
    	values 
    	(#{userName}, #{phone}, #{email}, #{validStatus}, #{insertTime}, #{updateTime})
    </insert>
    
</mapper>